.app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 100px auto;
}

table {
}

th, td {
  padding: 10px;
  border: 1px solid;
}

.modal__overlay {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0);
}

.modal__window {
  width: 600px;
  height: 450px;
  border: 1px solid black;
  padding: 10px;
  margin: 0 auto;
  transform: translateY(-200px);
  background: #fff;
}

.modal__header {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border-bottom: 1px solid black;
}

.modal__title {
  font-size: 16px;
}

.modal__close {
  cursor: pointer;
}

.modal__body {
  margin: 50px auto;
  height: 200px;
  width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px;
}

.modal__window, .modal__overlay {
  opacity: 0;
  z-index: -1;
}

.modal.open .modal__window,
.modal.open .modal__overlay {
  opacity: 1;
  z-index: 200;
}

.modal.open .modal__overlay {
  background: rgba(0, 0, 0, .5);
}

.modal.open .modal__window {
  transform: translateY(100px);
}

.modal__row {
  display: flex;
  justify-content: space-between;
}
